.div_test {
    background-color: lightblue;
    display: inline;
    padding: 10px;
}

body {
    margin: 0px;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40px;
}